.img {
    width: 100px;
    margin: 0 auto;
    img {

     
      width: 100%;
      height: auto;
    }
  }
  .spinner {
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
  }