<div class="m-5 text-center display-4" style="color:#673ab7;">Flame store</div>
<div class="row text-center">
    <div class="col-12">
        <button class="w-75 mb-3" routerLink="/" mat-raised-button>
            Home
        </button>
    </div>
    <div class="col-12">
        <button class="w-75 mb-3" routerLink="/signin" mat-raised-button *ngIf="!isLogin">
            Sign In
        </button>
    </div>
    <div class="col-12">
        <button class="w-75 mb-3" routerLink="/login" mat-raised-button *ngIf="!isLogin">
            Log In
        </button>
    </div>
    <div class="col-12">
        <button class="w-75 mb-3" (click)="logout()" mat-raised-button *ngIf="isLogin">
            Log Out
        </button>
    </div>
</div>